<!doctype html>
<html lang="en">


<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--custom table CSS-->

<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}
    
    .open-button {
      background-color: #555;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
      width: 280px;
    }
    
    /* The popup form - hidden by default */
    .form-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }
    
    /* Add styles to the form container */
    .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: white;
    }
    
    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
    }
    
    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Set a style for the submit/login button */
    .form-container .btn {
      background-color: #2b9b2f;
      color: white;
      padding: 10px 10px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
    }
    .form-container .butt{
        background-color: #ff0000;
      color: white;
      padding: 10px 5px;
      border: none;
      cursor: pointer;
      width: 30%;
      margin-bottom:10px;
      opacity: 0.5;
    }
    /* Add a red background color to the cancel button */
    .form-container .cancel {
      background-color: rgb(192, 74, 74);
    }
    /* Add a red background color to the cancel button */
    .form-container .sendforimp {
      background-color: rgb(228, 231, 48);
    }
    
    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }
    </style>


        <style>
            table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
            }
            
            th, td {
            text-align: left;
            padding: 8px;
            }
            
            tr:nth-child(even){background-color: #f2f2f2}
        </style>

    <!-- favicon -->
    <link rel="icon" sizes="16x16" href="assetsdash/img/favicon.png">

    <!-- Title -->
    <title> Leave management Dashboard for director </title>

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="assetsdash/css/all.css">
    <link rel="stylesheet" href="assetsdash/css/elegant-font-icons.css">
    <link rel="stylesheet" href="assetsdash/css/bootstrap.min.css">
    <link rel="stylesheet" href="assetsdash/css/magnific-popup.css">
    <link rel="stylesheet" href="assetsdash/css/owl.carousel.css">

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">

    <!-- main style -->
    <link rel="stylesheet" href="assetsdash/css/style.css">
    <link rel="stylesheet" href="assetsdash/css/colors/color-1.css">
</head>

<body data-spy="scroll" data-target="#scrollspy" data-offset="1">

    <div class="page">
        <!--background -->
        <div class="bg">
            <ul class="bg-circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <div class="info-tab-area">
           
            <div class="container">
                <button class="btn btn-danger"  ><a href="/logout" style="color: white">Logout</a></button>
                <div class="info-tab-section">
                    <!--header-->
                    <div class="header d-flex align-items-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="profile d-flex align-items-center">
                                        <div class="d-flex align-items-center">
                                            <a href=""><img src= "<%= allItems[0].profileurl%>"></a>
                                            <a class="desc" href="">
                                                <h3 class="text-white mb-0"><%= userA%></h3>
                                                <h6 class="text-white mb-0"><%= designationA%> @ <%= departmentA%></h6>
                                            </a>
                                        </div>

                                        <!--social-links-->
                            

                                        <!--btn-toggle-->
                                        <div class="btn-toggler ml-auto" id="btnToggle">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--info-tab-->
                    <div class="info-tab">
                        <!--navigation-->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                    <span> <i class="fas fa-home"></i></span>
                                    <span>Home</span>
                                </a>
                            </li>
                          

                          
                            
                            <li class="nav-item">
                                <a class="nav-link" id="portfolio-tab" data-toggle="tab" href="#portfolio" role="tab" aria-controls="portfolio" aria-selected="false">
                                    <span><i class="fas fa-briefcase"></i></span>
                                    <span>Past Leaves</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="portfolio-tab" data-toggle="tab" href="#portfolio2" role="tab" aria-controls="portfolio" aria-selected="false">
                                    <span><i class="fas fa-briefcase"></i></span>
                                    <span>Requests</span>
                                </a>
                            </li>
                           
                            <li class="nav-item">
                                <a class="nav-link" id="blog-tab" data-toggle="tab" href="#blog" role="tab" aria-controls="blog" aria-selected="false">
                                    <span><i class="fas fa-receipt"></i></span>
                                    <span>Status</span>
                                </a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link"   href="/profileauth" role="tab" aria-controls="contact" aria-selected="false">
                                    <span><i class="fas fa-search"></i></span>
                                    <span>Edit Profile</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                                    <span><i class="fas fa-envelope"></i></span>
                                    <span>Add Leave</span>
                                </a>
                            </li>
                        </ul>

                        <!--tab-content-->
                        <div class="tab-content" id="myTabContent">
                            <!--Home-->
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="home-area d-flex align-items-center">
                                    <div class="home section">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="hero">
                                                    <img src="assetsdash/img/hodccf.gif" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 d-flex align-items-center">
                                                <div class="content">
                                                    <div class="section-title">
                                                        <% if(messages.success_msg){ %>
                                                            <div class="alert alert-success" aria-label="close">
                                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                              <h6><%= messages.success_msg%></h6></div>
                                                          <%}%>
                                                          
                                                        <% if(typeof errorsdas != 'undefined'){ %>
                                                            <div class="alert alert-danger" aria-label="close"> 
                                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                            <% errorsdas.forEach(errordas=>{ %>
                                                              <li><%= errordas.message %></li>
                                                              <% }); %>
                                                            </div>
                                                            <% } %>
                                                        <h5>Welcome to the Faculty Leave Portal</h5>
                                                    </div>
                                                    <p class="max-width-400 text-dark mb-15">
                                                       This is for the DBMS project purpose.
                                                    </p>

                                                    <ul class="info list-inline mb-15">
                                                        <li class="text-dark"><span class="font-w-700">Designation :</span> <%= designationA%> </li>
                                                        <li class="text-dark"><span class="font-w-700">Email :</span><a href="" class="text-dark"><%= emailidA%></a></li>
                                                    
                                                        <li class="text-dark"><span class="font-w-700">Department Name :</span> <%= departmentA%></li>
                                                        <div class="alert alert-dark">    <li class="text-dark"><span class="font-w-900">Leaves Left :</span> <%= leavesleftA%></li></div>
                                                   
                                                    </ul>

                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            <!--Portfolio-->
                            <div class="tab-pane fade" id="portfolio" role="tabpanel" aria-labelledby="portfolio-tab">
                                <div class="portfolio section">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="section-title">
                                                <h5>Past requests</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="overflow-x:auto;">
                                        
                                            <table>
                                                <tr>
                                                  <th>Leave ID</th>
                                                  <th>Start Date</th>
                                                  <th>End Date</th>
                                                  <th>Status</th>
                                                  <th>Reason</th>   
                                                  
                                                </tr>
                                              
                                                <% table.forEach(function(row) { %>
                                                  <tr>
                                                      <td>
                                                          <%= row.leave_id %>
                                                      </td>
                                                      <td>
                                                          <%= row.date_from.getFullYear()  %>-<%= row.date_from.getMonth()+1%>-<%= row.date_from.getDate()%>
                                                      </td>
                                                      <td>
                                                          <%= row.date_to.getFullYear()  %>-<%= row.date_to.getMonth()+1%>-<%= row.date_to.getDate()%>
                                                      </td>
                                                      
                                                      <td>
                                                          <%= row.status %>
                                                      </td>
                                                      
                                                      <td>
                                                          <%= row.reason %>
                                                      </td>
                                                  </tr>
                                                  <% }); %>
                                        </table>
                                      </div>
                                    <!--items -->
                                    <div class="inner-items">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6">
                                                
                                               
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                            <!--Portfolio2-->
                            <div class="tab-pane fade" id="portfolio2" role="tabpanel" aria-labelledby="portfolio-tab">
                                <div class="portfolio section">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="section-title">
                                                <h5>Leave Requests</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" name="respreq" onclick="openForm()" class="btn-custom">
                                        <span>
                                            
                                        </span>
                                        <span>Respond Request</span>
                                    </button>
                                    <div class="form-popup" id="myForm">
                                        <form action="/dashboarhodccf" method="POST" class="form-container" >
                                            <button class="butt" onclick="closeForm()">Close</button>
                                          <h1>Respond to request</h1>
                                          <label for="comment" ><b>Enter Leave ID</b></label>
                                          <input type="number" name="leaveid" placeholder="Enter leave ID"  required>
                                          <label for="comment" ><b>Any Comments?</b></label>
                                          <textarea name="message2" id="message2" cols="30" rows="2" class="form-control" placeholder="Comment(Max character limit = 1000)"></textarea>
                                             
                                        
                                          <button type="submit" name = "approve" value="Accepted"  class="btn" >Approve</button>
                                          <button type="submit" name = "approve" value="Rejected" class="btn cancel" >Reject</button>
                                          
                                          <button type="submit" name =  "approve" value="Resent for corrections" class="btn sendforimp" >Send For Improvements</button>
                                        </form>
                                      </div>
                                    <div style="overflow-x:auto;">
                                        <p>-------</p>
                                           
                                       
                                        <table>
                                          <tr>
                                            <th>Leave ID</th>
                                            <th>Name of Applicant</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                           
                                            
                                            <th>Reason Mentioned</th>
                                            
                                          </tr>

                                          <% leaveddd.forEach(function(row) { %>
                                            <tr>
                                                <td>
                                                    <%= row.leave_id %>
                                                </td>
                                                <td>
                                                    <%= row.name %>
                                                </td>
                                                <td>
                                                    <%= row.date_from.getFullYear()  %>-<%= row.date_from.getMonth()+1%>-<%= row.date_from.getDate()%>
                                                </td>
                                                <td>
                                                    <%= row.date_to.getFullYear()  %>-<%= row.date_to.getMonth()+1%>-<%= row.date_to.getDate()%>
                                                </td>
                                                <td>
                                                
                                                    <td>
                                                    
                                                        <!-- Modal Header -->
                                                         <!-- Modal body -->
                                                         <div class="table">
                                                             <table >
                                                         
                                                         <tr>
                                                             <th>Commentor</th>
                                                             <th>Comment</th>
                                                            
                                                         </tr>
                                                         
                                            <% pendign3.forEach(function(row3) { %>
                                         
                                                 <% if(row3.leave_id === row.leave_id){%>
                                                     <tr>
                                                 <td>
                                                     <%= row3.commentor %>
                                                 </td>
                                                 
                                                 
                                                 <td>
                                                     <%= row3.comment_text %>
                                                 </td>
                                                    
                                             </tr>
                                                 <%}%>
                                              
                                             <% }); %>
                                           
 
                                                        
                                                     </table>
                                                     </div>
 
 
 
                                                   </td>
                                              
                                                
                                            </tr>
                                            <% }); %>
                                          
                                          
                                        </table>
                                      </div>
                                    <!--items -->
                                    <div class="inner-items">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6">
                                                
                                               
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                            <!--Status-->
                            <div class="tab-pane fade" id="blog" role="tabpanel" aria-labelledby="blog-tab">
                                <div class="blog section">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="section-title">
                                                <h5>Latest Leave Status</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" name="respreq22" onclick="openForm2()" class="btn-custom">
                                        <span>
                                            
                                        </span>
                                        <span>Clarify</span>
                                       
                                    </button>
                                    <p>-</p>
                                    <div class="form-popup" id="myForm2">
                                        <form action="/dashboarhodccf" method="POST" class="form-container" >
                                            <button class="butt" onclick="closeForm2()">Close</button>
                                          <h1>Clarification</h1>
                                          
                                          <label for="comment" ><b>Write your Clarification</b></label>
                                          <textarea name="message2mkc" id="messagemk" cols="30" rows="2" class="form-control" placeholder="Clarify..." required></textarea>
                                             <li>-</li>
                                        
                                          <button type="submit" name = "sendkarde22" value="Clarification"  class="btn" >Send Clarification</button>
                                    
                                          
                                        
                                        </form>
                                      </div>
                                    <div style="overflow-x:auto;">
                                        <table>
                                          <tr>
                                            <th>Status Updated on</th>
                                            <th>Commented By</th>
                                            <th>Action Taken</th>
                                            <th>Comment </th>
                                            
                                          </tr>
                                          <% currstatus.forEach(function(row) { %>
                                            <tr>
                                                <td>
                                                    <%= row.done_on.getFullYear()  %>-<%= row.done_on.getMonth()+1%>-<%= row.done_on.getDate()%>
                                                </td>
                                                <td>
                                                    <%= row.commentor %>
                                                </td>
                                                <td>
                                                    <%= row.action_taken %>
                                                </td>
                                                <td>
                                                    <%= row.comment_text%>
                                                </td>
                                        
                                            </tr>
                                            <% }); %>
                                        </table>
                                      </div>     
                                    
                                    <div class="row mb-20">
                                        <div class="col-12">
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>





                            <!--Request a leave-->
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="contact section">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="section-title">
                                                <h5> Request a leave</h5>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-12 ">
                                            <form action="" method="post" id="main_contact_form" class="form contact_form">
                                                <div class="alert alert-success contact_msg " style="display: none" role="alert">
                                                    Leave Request sent Successfully
                                                </div>
                                                <div class="form-group">
                                                    <h6>Start Date</h6>
                                                    <input type="date"  name="date1" id="name" class="form-control" placeholder="Start Date" required>
                                                </div>
    
                                                <div class="form-group">
                                                    <h6>End Date</h6>
                                                    <input type="date" name="date2" id="email" class="form-control" placeholder="End Date" required>
                                                </div>
                                    
    

                                                <div class="form-group">
                                                    <textarea name="message" id="message" cols="30" rows="5" class="form-control" placeholder="Reason"></textarea>
                                                </div>

                                                <button type="submit" name="submit" class="btn-custom">
                                                    <span>
                                                        <i class="fas fa-paper-plane"></i>
                                                    </span>
                                                    <span> Submit Application</span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <!--loading -->
    <div class="loading">
        <div class="circle"></div>
    </div>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assetsdash/js/jquery-3.5.0.min.js"></script>
    <script src="assetsdash/js/popper.min.js"></script>
    <script src="assetsdash/js/bootstrap.min.js"></script>

    <!-- JS Plugins  -->
    <script src="assetsdash/js/jquery.magnific-popup.min.js"></script>
    <script src="assetsdash/js/ajax-contact.js"></script>
    <script src="assetsdash/js/owl.carousel.min.js"></script>
    <script src="assetsdash/js/main.js"></script>
    
    <script>
        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }
        
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
    </script>
      <script>
        function openForm2() {
          document.getElementById("myForm2").style.display = "block";
        }
        
        function closeForm2() {
          document.getElementById("myForm2").style.display = "none";
        }
    </script>


</body>
</html>